# Entorno virtual
.venv/
venv/
env/

# Cache de Python
__pycache__/
*.py[cod]
*.pyo

# Base de datos
data/restaurante.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Sistema operativo
Thumbs.db
.DS_Store

# Variables de entorno
.env
